@CHARSET "ISO-8859-1";

body
{

	font-size:12px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	color: #444444;

}

font i
{

	margin-left: 15px;


}

h3
{

    background-color: #DCE6F5;
	color: #254264;
	font-family: Calibri;
    border: 1px solid #12319E;
    -moz-border-radius: 3px 3px 3px 3px;
    font-size: 16px;
    font-weight: bold;
    margin: 10px auto;
    padding: 15px 10px; 15px; 10px;
    width: 97%;
	text-align: center;

}

p{

	font: 12px/1.5em Arial,Helvetica,sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	cursor:default;
	background-color: #3C73B7;
	margin-left: 12px;
	padding-left: 5px;
	padding-top: 3.5px;
	margin-right: 5px;
	padding-bottom: 3.5px;
	vertical-align: middle;
	width: 97.5%;
	height: 20px;	
	-moz-border-radius: 4px 4px 0px 0px;

}

input, select
{

	margin-left: 15px;

}

.input_text
{
	
	background-color: #ffffff;
	border: 1px solid #cccccc; 
	font-size:11px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	color: #666666; 
	
}

.focus_text
{
	
	background-color: #fdfb9d;
	border: 1px solid #cccccc; 
	font-size:11px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	color: #666666; 
	
}

.label_input
{
	
	font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
	font-size:11px;
	color:#555555;
	font-weight:bold;
	cursor:default;	
	
}

.botoes_form
{
	
	background-color:#666666;
	font: 11px Verdana; 
	border: 1px solid #333333; 
	font-size:11px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	color: #ffffff;	
			
}

.tabela_list
{
	
	background-color:#f1f1f1;
	border: 1px solid #9FAEC2;
	width:98%;
	color: #666666;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
	-moz-border-radius: 0px 0px 3px 3px;
	page-break-inside: avoid;
	
}

.tr_list_titulos
{
		
	color:#ffffff;
	font-size:11px;
	font-weight:bold;
	height:25px;
	page-break-inside: avoid;
	
}


.td_list_titulos
{
	
	background-color: #DCE6F5;
	color: #254264;
	font-family: Calibri;
	font-size: 13px;
	font-weight: bold;
	-moz-border-radius: 2px;
	border: 1px solid #9FAEC2;
	
}

.tr_list_conteudo_impar
{
	
	background-color: #FFFFFF;
	height: 20px;
	
}

.tr_list_conteudo_par
{
	
	background-color: ##EDEDED;
	height: 20px;
	
}

p.mensagem_retorno
{

	font: 12px/1.5em Arial,Helvetica,sans-serif;
	color: #FFFFFF;
	cursor:default;
	margin-left: 12px;
	padding-left: 5px;
	padding-top: 3.5px;
	margin-right: 5px;
	padding-bottom: 3.5px;
	vertical-align: middle;
	width: 97.5%;
	height: 20px;	
	-moz-border-radius: 4px 4px 4px 4px;

}



